.mf {
    display: flex;
    justify-content: space-around;

    .one {
        width: 20%;

        p {
            color: white;
        }
    }

    .two {
        width: 20%;

        p {
            color: white;
        }
    }

    .three {
        width: 20%;

        p {
            color: white;
        }
    }
}