.container {
    display: flex;
    flex-direction: column;

    .con2 {
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        margin: 15px auto;

        button {
            background-color: goldenrod;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: large;
            padding: 3px 8px;

        }
    }

    .mg {
        display: flex;
        flex-wrap: wrap;
        // margin: 0px auto;
        justify-content: center;
        // background-color: aqua;

        .maingal {
            display: flex;
            height: 435px;
            width: 250px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 10px;
            background-color: goldenrod;
            margin: 10px 30px;
            border-radius: 30px;

            img {
                height: 200px;
                width: 200px;
            }

            p {
                color: white;
            }

            .h8 {
                width: 95%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: aqua;

                button {
                    font-size: large;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }


            }
        }
    }
}